.container {
	padding-left: 1rem;
	padding-right: 1rem;
}
.botao {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 320px;
	height: 52px;
	border-radius: 10px;
	justify-content: center;
	box-sizing: border-box;
	font-family: var(--Urbanist);
	font-weight: 700;
	text-decoration: none;
}
.botao1 {
	background-color: var(--rosa1);
	color: white;
	border: none;
}
.botao2 {
	background-color: white;
	color: var(--rosa1);
	border: var(--rosa1) solid 1px;
}

.botao__google {
	padding-left: 50px;
	background-color: white;
	color: var(--rosa1);
	background-image: url(../Img/icon_google\ 1.png);
	background-repeat: no-repeat;
	background-position: 27% center;
}
.w700 {
	font-weight: 700;
}
.w600 {
	font-weight: 600;
}
.w500 {
	font-weight: 500;
}
.Filtro_offcanvas {
	position: fixed;
	top: 0;
	height: 100vh;
	width: 100vw;
	background-color: #ffffff10;
	box-sizing: border-box;
	display: none;
	flex-direction: column;
	align-items: center;
}
.Filtro_offcanvas_flex {
	background-color: white;
	display: flex;
	bottom: 0;
	position: absolute;
	flex-direction: column;
	gap: 1.5rem;
	padding: 1rem 1rem 3.5rem 1rem;
	box-sizing: border-box;
	align-items: center;
	border-radius: 30px 30px 0 0;
	width: 100%;
}
.Form_offcanvas {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 10px;
	gap: 2rem;
}
.checked:checked {
	display: inline-block;
	content: url("..//Img/checkbox.svg");
}
.checked {
	display: none;
}
.label::selected {
	font-weight: bold;
}
.close {
	color: var(--text2);
	font-size: 25px;
	font-weight: 600;
	display: inline-block;
	transform: rotate(45deg);
}
.close-button {
	background: transparent;
	border: none;
}
.div__close-button {
	display: flex;
	justify-content: flex-end;
	position: relative;
	top: 10px;
	width: 100%;
	padding-right: 30px;
}
.text-start {
	display: flex;

	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	max-width: 320px;
	gap: 2rem;
}
