:root {
	--rosa1: #f94470;
	--text1: #292944;
	--text2: #74748c;
	--text3: #a9a9b5;
	--verde: #27a943;
	--amarelo: #f89500;

	--Poppins: Poppins;
	--Urbanist: Urbanist;
}

html {
	font-family: var(--Urbanist);
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 14px;
	font-weight: 700;
}

p {
	font-size: 16px;
}

sub {
	font-size: 12px;
	font-weight: 600;
}
