:root{
    --rosa1 :#F94470;
    --text1 :#292944;
    --text2 :#74748C;
    --text3 :#A9A9B5;
    --verde :#27A943;
    --amarelo :#F89500;
    
    --Poppins: Poppins;
    --Urbanist: Urbanist;
}

html{
    font-family: var(--Urbanist);
}

h1{
    font-size: 36px;
}

h2{
    font-size: 32px;
}

h3{
    font-size: 24px;
}

h4{
    font-size: 20px;
}

h5{
    font-size: 18px;
}

h6{
    font-size: 14px;
}

p{
    font-size: 16px;
}

sub{
    font-size: 12px;
}
